<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./appointment.css" >
  <title>hospital</title>
</head>
<body>
  <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="#Home" class="btn btn-outline-primary">Home</a></li>
            <li><a href="#about" class="btn btn-warning">About</a></li>
            <li><a href="#service">Services</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a>To Check your Memory power  and thinking skills try these Games</a></li>
            <li><a href="https://matchobj.imfast.io/">Object Matching game</a></li>
            <li><a href="https://gameobj.imfast.io/index.html">Word Matching game</a></li>
            <li><a href="https://eggcatch.imfast.io/">Object collecting</a></li>
            <li><a href="/users/logout" class="btn btn-secondary">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <header class="v-header container" id="Home">
    <div class="fullscreen-video-wrap">
      <!--  https://www.videvo.net/video/typing-on-computer-white-bg/4475/ -->
      <!-- DO NOT USE THIS VIDEO, I JUST NEEDED A HOSTED VIDEO FOR THIS CODEPEN> USE THE ONE ABOVE -->
      <video src="https://ak.picdn.net/shutterstock/videos/1016808364/preview/stock-footage-medicine-healthcare-and-people-concept-doctor-showing-cardiogram-to-male-patient-at-hospital.webm" autoplay="" loop="">
    </video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
      <h1>Welcome</h1>
      <p class="lead mb-3"> <%= user.name %></p>
      <p>
        Physical fitness is not the sole basis of being healthy; being healthy means being mentally and emotionally fit. </p>
        <p>Being healthy should be part of your overall lifestyle. Living a healthy lifestyle can help prevent chronic diseases and long-term illnesses.</p> 
        <p>Feeling good about yourself and taking care of your health are important for your self-esteem and self-image. Maintain a healthy lifestyle by doing what is right for your body.</p>
      <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
          <div>
            <div>
              <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#about" class="btn btn-warning">About</a></li>
                <li><a href="#service">Services</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a>To Check your Memory power  and thinking skills try these Games</a></li>
                <li><a href="https://matchobj.imfast.io/">Objec Matching game</a></li>
                <li><a href="https://gameobj.imfast.io/index.html">Word Matching game</a></li>
                <li><a href="https://eggcatch.imfast.io/">Object Collecting game</a></li>
                <li><a href="/users/logout" class="btn btn-secondary">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <h1>About Us</h1>
<section id="about">
  <div class="slider" >
    <div class="slide current">
      <div class="content">
        <h1>Slide One</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
          maxime, voluptatibus labore doloremque vero!
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h1>Slide Two</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
          maxime, voluptatibus labore doloremque vero!
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h1>Slide Three</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
          maxime, voluptatibus labore doloremque vero!
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h1>Slide Four</h1>
        <p>
          Eye Check-up to detect the Alzheimer's diseases
          maxime, voluptatibus labore doloremque vero!
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h1>Slide Five</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
          maxime, voluptatibus labore doloremque vero!
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h1>Slide Six</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit hic
          maxime, voluptatibus labore doloremque vero!
        </p>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button id="prev"><i class="fas fa-arrow-left"></i></button>
    <button id="next"><i class="fas fa-arrow-right"></i></button>
  </div>
</section>
<h1>Services</h1>
<section id="service">
    <section class="showcase">
        <div class="video-container">
            <video src="https://ak.picdn.net/shutterstock/videos/1047837520/preview/stock-footage-senior-elder-man-patient-talking-to-caring-female-doctor-physician-caregiver-at-nursing-home-in.webm" autoplay muted loop></video>
        </div>
        <div class="content">
            <h1>Thank you </h1>
            <h3>For chosing our services</h3>
            <p></p>
            <h4><p>Senior elder man patient</p> talking to caring female doctor physician caregiver at nursing home in hospital holding hands explaining well-being get support and medicare services at medical checkup visit.</h4>
            <div class="menu-wrap">
                <input type="checkbox" class="toggler">
                <div class="hamburger"><div></div></div>
                <div class="menu">
                  <div>
                    <div>
                      <ul>
                        <li><a href="#Home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#service">Services</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a>To Check your Memory power  and thinking skills try these Games</a></li>
                        <li><a href="https://matchobj.imfast.io/" class="btn btn-warning">Object Matching game</a></li>
                        <li><a href="https://gameobj.imfast.io/index.html" class="btn btn-danger">Word Matching game</a></li>
                        <li><a href="https://eggcatch.imfast.io/" class="btn btn-success">Object Collecting game</a></li>
                        <li><a href="/users/logout" class="btn btn-secondary">Logout</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
        
        </div>
    </section>
</service>
  <section id="contact">
  <div class="container">
    <h1 class="brand">Appointment Form</h1>
    <div class="wrapper">
      <div class="company-info">
        <h3>Adress of hospital</h3>
        <ul>
          <p><li><i class="fa fa-road fa-2x "></i> 44 Something st</li></p>
        <p><li><i class="fa fa-phone fa-2x"></i> (555) 555-5555</li></p>
          <li><i class="fa fa-envelope fa-2x"></i> test@acme.test</li>
        </ul>
      </div>
      <div class="contact">
        <marquee color="black" width="100%" direction="right" scrollamount="12" height="60px">
          <h1>Welcome to our Services.</h1>			
          </marquee>
        <div class="alert">Your message has been sent</div>
        <form id="contactForm">
          <p>
            <label>Name</label>
            <input type="text" name="name" id="name" required>
          </p>
          <p>
            <label>No. of Patients</label>
            <input type="text" name="company" id="company">
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" name="email" id="email" required>
          </p>
          <p>
            <label>Phone Number</label>
            <input type="text" name="phone" id="phone">
          </p>
          
  <label for="dob">Date of Birth:</label>
  <div class="empty-width"></div>
  <input class="medium-sized-input-box" placeholder="Date of Birth" type="date" class="form-control" name="dob" id="dob" />
  
  <div class="empty-width"></div>
  <label for="dob">Date of Appointment:</label>
  <div class="empty-width"></div>
  <input class="medium-sized-input-box" placeholder="Date of Birth" type="date" class="form-control" name="dob" id="dob" />
  <div class="empty-width"></div>

  <label for="city">City:</label>
  <input class="medium-sized-input-box" placeholder="City" type="text" class="form-control" name="city" id="city" />

  <label for="state">State:</label>
  <input class="medium-sized-input-box" placeholder="State" type="text" class="form-control" name="state" id="state" />

<label for="country">Country</label><select name="country" id="country" medium-sized-input-box>
<option value="India"selected>India</option>
<option value="USA">USA</option>
<option value="UAE">UAE</option>
</select> 


<label class="address-label"for="address">Address</label><textarea rows="5" cols="50" name="Address" id="address"></textarea>     
  <p class="full">
            <label>Message/Tell about your Problem</label>
            <textarea name="message" rows="5" id="message"></textarea>
          </p>
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>

  <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
</section>
<div class="social">
        <a href="https://github.com/hackhubs" target="_blank"><i class="fab fa-github fa-3x"></i></a>
        <a href="https://www.linkedin.com/in/abhav-thakur-6603b3176/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
    </div>
<script src="./index.js"></script>
</body>
</html>